# VISUALIZATION
notebook>=5.3
ipywidgets>=7.5
plotly==5.14.1
manim==0.18.0

# MISC
keras==3.0.4
nltk==3.8.1
PyPDF2==3.0.1

# NLP 
spacy==3.7.2

# IMAGE PROCESSING
opencv-python

# MANAGING
atlassian-python-api==3.40.1